body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #8c8c8c;
}

.container {
    width: 80%;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.title-area {
    text-align: center;
    margin-bottom: 20px;
}

.input-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#newTaskInput {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 16px;
}

#addTaskButton {
    padding: 10px 20px;
    background-color: #32CD32;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

#addTaskButton:hover {
    background-color: #228B22;
}

.tasks-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.task-container {
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li.completed {
    text-decoration: line-through;
    color: #aaa;
    background-color: #e6e6e6;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px; /* Reduce el espacio entre botones */
}

.delete-btn {
    background-color: #FF6347;
    color: rgb(182, 100, 100);
}

.delete-btn:hover {
    background-color: #FF4500;
}

.check-btn {
    background-color: #32CD32;
    color: white;
}

.check-btn:hover {
    background-color: #228B22;
}

@media (max-width: 768px) {
    .tasks-area {
        grid-template-columns: 1fr;
    }
}
